<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>
        Hello,
    </p>
    <p>
        We've received a request to reset the password for the Sample account
        associated with {{EmailAddress}}.
    </p>
    <p>
        Please click the link below to reset your password now.
    </p>
    <a href="{{BaseUrl}}/reset-password?token={{Token}}">RESET YOUR PASSWORD</a>
    <p>
        If you did not request a new password, please ignore this email and contact the system administrators.
    </p>
    <p>
        Please note that your password will not change unless you click the link above and create a new one.
        This link will expire in 30 minutes. If your link has expired, you can always request another one.
    </p>
    <p>
        Thank you.
    </p>
</body>
</html>